<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.qa.test.HomePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
